.app__skills {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  /* background-color: white; */
}

.app__skills-marquee {
  width: 75%;
  overflow: hidden;
  margin-top: 50px;
}

.app__skills-track {
  display: flex;
  gap: 30px;
  width: max-content;
}

.app__skills-item {
  min-width: 120px;
  text-align: center;
  padding: 15px; /* py-2 px-4 */
  background: linear-gradient(
    to bottom right,
    #1e293b,
  );
  border: 1px solid #334155; /* slate-700 */
  border-radius: 8px; /* rounded-lg */
  transition: all 0.3s ease;
}

.app__skills-item:hover {
  border-color: rgba(34, 211, 238, 0.5); /* cyan-400/50 */
}

.app__skills-item p {
  font-size: 14px;
  font-weight: bold;
  color: #22d3ee;
  padding-top: 10px;
}

.app__skills-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .app__skills-marquee {
    width: 90%;
  }
}
