.app__skills {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
  background-color: white;
}

.app__skills-marquee {
  width: 75%;
  overflow: hidden;
  margin-top: 30px;
}

.app__skills-track {
  display: flex;
  width: max-content;
}

.app__skills-item {
  min-width: 120px;
  margin-right: 40px;
  text-align: center;
}

.app__skills-item p {
  font-size: 14px;
  font-weight: bold;
}

.app__skills-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

@media screen and (max-width: 900px) {
  .app__skills-marquee {
    width: 90%;
  }
}
