.app__about {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 100px;
}

@media screen and (max-width: 900px) {
    .app__about {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.app__about-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.app__about-text {
    width: 600px;
}

.app__about-text h3 {
    padding-bottom: 10px;
    color: white;
}

.app__about-text p {
    font-size: 17px;
    line-height: 25px;
    color: var(--gray-color);
}

.app__about-text .app__button-container {
    display: flex;
    justify-content: flex-start;
}

.app__about-text .app__button-container a {
    padding: 12px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    background-color: white;
    outline: 0;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.app__about-text .app__button-container a:hover {
    background-color: lightblue;
}

@media screen and (max-width: 900px) {
    .app__about-text {
        width: 320px;
        padding-top: 50px;
    }

    .app__about-text .app__button-container {
        justify-content: center;
    }
}
